@charset "utf-8";

*{box-sizing: border-box;}
body{background: #e46006;}
.main_section{
    width: 100%;
    position: relative;
}
.main_section h3{
    font-family: "Jost"; font-weight: bold; font-size: 120px; text-align: center; margin-top: 60px;
}

/* main_section1 */
.main_section1{height: calc(100vh - 68px);}
.main_section1 h2{font-family: "Jost";  font-weight: bold; font-size: 210px; line-height: 1;}
.main_section1 h2:nth-of-type(1){margin-left: -14px;}
.main_section1 h2:nth-of-type(2){text-align: right; padding: 60px 20.5% 0 0;}
.main_section1 h2:nth-of-type(3){margin-left: -14px;}
.main_section1 > a p{font-size: 18px; margin: 60px 0 60px 24%; width: 20%;}
.main_section1 > a p strong{display: block; font-weight: bold; font-size: 24px; margin-bottom: 20px;}
.accordion_list{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 1200px;
    height: 80vh;
    margin: 0;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.4s;
}
.accordion_list.on{width: 100%;}
.accordion_list.active{height: 100%;}
.accordion_list li{
    position: relative;
    flex:0 0 10%;
    min-width: 176px;
    height: 100%;
    padding: 80px;
    transition: all .6s ease;
    color: #fff;
    overflow: hidden;
}
.accordion_list li.on{flex:5; flex-grow:1;}
.accordion_list li:nth-child(1){background: #1c1c1a;}
.accordion_list li:nth-child(2){background: #898989;}
.accordion_list li:nth-child(3){background: #c1ac57;}
.accordion_list li.on > p{display: none;}
.accordion_list li > p{
    position: absolute;
    bottom: 0%;
    left: 50%;
    width: max-content;
    transform: rotate(-90deg);
    transform-origin: left;
    font-family: "Jost";
    font-weight: bold;
    font-size: 60px;
}
.accordion_list li > p .open_dot{
    display: inline-block;
    width: 30px;
    height: 26px;
    background: url(../images/common/open_dot.png) 50% 50%/cover no-repeat;
    vertical-align: middle;
}
.accordion_list li .accordion_info{display: none; opacity: 0; transition: opacity 0.4s; font-weight: bold; height: 100%;}
.accordion_list li.on .accordion_info{display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; opacity: 1;}
.accordion_list li .accordion_info strong{font-weight: inherit;}
.accordion_list li .accordion_info .accordion_txt p:first-child{color: #000; font-size: 20px;}
.accordion_list li .accordion_info .accordion_txt strong{font-size: 30px;}
.accordion_list li .accordion_info .accordion_txt p:last-child{font-size: 26px; margin-top: 40px;}
.accordion_list li .accordion_info .accordion_txt2{display: block;}
.accordion_list li .accordion_info .accordion_txt2:nth-child(2){margin-top: 100px;}
.accordion_list li .accordion_info .accordion_txt2:last-child{margin-top: 50px;}
.accordion_list li .accordion_info .accordion_txt2{color: #fff; font-size: 22px;}
.accordion_list li .accordion_info .accordion_txt2 strong{font-size: 20px; color: #000;}
.accordion_list li .accordion_info .accordion_txt2 strong::before{
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #000;
    margin-bottom: 10px;
}
.accordion_list li:nth-child(1) .accordion_info .accordion_txt p:first-child{color: #c1ac57;}
.accordion_list li:nth-child(1) .accordion_info .accordion_txt2 strong{color: #c1ac57;}
.accordion_list li:nth-child(1) .accordion_info .accordion_txt2 strong::before{background: #c1ac57;}

/* main_section2 */
.main_section2{box-shadow: 0 14px 28px rgba(0,0,0,0.5); overflow: hidden;}
.main_section2::before{
    content: "";
    position: absolute;
    bottom: 30px;
    right: 10%;
    width: calc(100% - 10%);
    height: 20px;
    background: #fff;
    z-index: 2;
}
.main_section2::after{
    content: "";
    position: absolute;
    bottom: 50px;
    right: 10%;
    width: 50px;
    height: calc(100% - 50px);
    background: #fff;
    z-index: 1;
}
.main_section2 .swiper-slide{color: #fff;}
.main_section2 .mainswp_0101{background: #000;}
.main_section2 .mainswp_0102{background: #898989;}
.main_section2 .mainswp_0103{background: #c1ac57;}
.main_section2 .swiper-slide .slide_con{display: flex; justify-content: flex-start;align-items: flex-start;}
.main_section2 .swiper-slide .imgbx{width: 73%; max-width: 1400px; margin-top: 50px;}
.main_section2 .swiper-slide .imgbx img{width: 100%;}
.main_section2 .swiper-slide .slide1_txt{display: flex; justify-content: space-between; align-items: flex-start; flex-direction: column; width: 300px; height: -webkit-fill-available; margin: 10% 0 0 40px; font-weight: bold;}
.main_section2 .swiper-slide .slide1_txt p{font-size: 26px;}
.main_section2 .swiper-slide .slide1_txt p b{display: block; font-size: 20px; margin-bottom: 60px;}
.main_section2 .swiper-slide .slide1_txt span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 4px 14px 5px;
    border-radius: 50px;
    border: 1px solid #fff;
    font-weight: inherit;
    font-size: 20px;
    margin-bottom: 80px;
}

/* main_section3 */
.main_section3{padding-bottom: 100px; box-shadow: 0 14px 28px rgba(0,0,0,0.5); overflow: hidden;}
.main_section3 .main_flex{
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-left: 10px solid #000;
    background: linear-gradient(to right, #fff 0% 40%, #000 40% 100%);
    padding: 100px 0 200px 30px;
    margin: 60px 0 0 auto;
}
.main_section3 .main3_txt{width: 13%;}
.main_section3 .main3_txt strong{
    font-family: "Jost";
    font-weight: bold;
    font-size: 44px;
}
.main_section3 .main3_txt b{display: block; font-size: 26px; margin-bottom: 20px;}
.main_section3 .main3_txt p{margin-top: 40px; font-size: 18px;}
.main_section3 .main_page_swp2{position: relative; display: flex; justify-content: space-between; width: 70%; overflow: hidden; padding-bottom: 40px;}
.main_section3 .main_page_swp2 .swiper-slide{height: -webkit-fill-available;}
.main_section3 .main_page_swp2 .swiper-slide .slide_con{display: block; height: 100%;}
.main_section3 .main_page_swp2 .swiper-slide .imgbx img{max-width: 100%;}
.main_section3 .main_page_swp2 .slide2_txt{height: 100%; padding: 20px; background: #fff;}
.main_section3 .main_page_swp2 .slide2_txt strong{display: block; font-size: 24px; font-weight: bold;}
.main_section3 .main_page_swp2 .slide2_txt p{font-size: 18px;}
.main_section3 .main_page_swp2 .slide2_txt span{display: block; font-size: 14px; margin-top: 20px;}
.main_section3 .main_page_swp2 .swiper-scrollbar{background: #dcdddd;}
.main_section3 .main_page_swp2 .swiper-scrollbar .swiper-scrollbar-drag{background: #000;}

.main_section3 .main_flex2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 70%;
    margin: 100px auto 0;
}
.main_section3 .main_flex2 li{width: 30%;}
.main_section3 .main_flex2 li:first-child{margin-right: 60px;}
.main_section3 .main_flex2 li:last-child{margin: 200px 0 0 60px;}
.main_section3 .main_flex2 li a{display: block;}
.main_section3 .main_flex2 li a strong{
    display: block;
    font-family: "Jost";
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.main_section3 .main_flex2 li a .imgbx{width: 100%;}
.main_section3 .main_flex2 li a .imgbx img{width: 100%;}

p.s_tit{font-weight: bold; font-size: 24px; margin: 20px 0;}
p.s_txt{font-size: 18px;}

/* main_section4 */
.main_section4{box-shadow: 0 14px 28px rgba(193,172,87,0.5); overflow: hidden;}
.main_section4 .main_flex{
    width: 96%;
    border-right: 10px solid #898989;
    background: linear-gradient(to left, #fff 0% 40%, #898989 40% 100%);
    padding: 100px 30px 100px 100px;
    margin: 60px auto 0 0;
}
.main_section4 .main_page_swp3{position: relative; display: flex; justify-content: space-between; width: 70%; overflow: hidden; margin-left: auto;}
.main_section4 .main_page_swp3 .swiper-slide{display: flex; justify-content: space-between; align-items: flex-start;}
.main_section4 .slide_con{width: 60%;}
.main_section4 .slide_con .imgbx img{max-width: 100%;}
.main_section4 .main4_txt{width: 36%;}
.main_section4 .main4_txt strong{
    font-family: "Jost";
    font-weight: bold;
    font-size: 44px;
}
.main_section4 .main4_txt b{display: block; font-size: 26px; margin-bottom: 20px;}
.main_section4 .main4_txt p{margin-top: 40px; font-size: 18px;}
.main_section4 .main4_txt em{display: block; margin-top: 6px;}

.main_section4 .main_flex2{display: flex; justify-content: center; align-items: flex-start; font-weight: bold; padding: 100px;}
.main_section4 .main_flex2 .main4_txt{width: 30%;}
.main_section4 .main_flex2 .main4_txt p:first-of-type{font-size: 26px; margin-bottom: 10px;}
.main_section4 .main_flex2 .main4_txt p:last-child{font-size: 32px; margin-top: 0;}
/* .main_section4 .video_wrap{
    position: relative;
    width: 50%;
}
.main_section4 .video_con{
    width: 100%;
    height: auto;
    padding-top: 56.25%;
}
.main_section4 .video_wrap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.main_section4 .video_wrap{
    position: relative;
    width: 50%;
}
.main_section4 .video_con{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.main_section4 .video_wrap iframe {
    width: 100%;
    aspect-ratio: 9 / 16;
    height: auto;
    display: block;
}

.main_section4 .main_flex3_wrap{
    background: linear-gradient(to right, #c4c4c4 0%, #fff 8% 92%, #c4c4c4 100%);
    padding: 80px 100px;
}
.main_section4 .main_flex3{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background: linear-gradient(to right, #c4c4c4 0%, #fff 8% 92%, #c4c4c4 100%);
    margin: 0 auto;
    padding: 60px;
}
.main_section4 .main_flex3 li{width: 40%;}
.main_section4 .main_flex3 li:first-child{margin-right: 60px;}
.main_section4 .main_flex3 li:last-child{margin-left: 60px;}
.main_section4 .main_flex3 li a{display: block;}
.main_section4 .main_flex3 li a strong{
    display: block;
    font-family: "Jost";
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.main_section4 .main_flex3 li a .imgbx{width: 100%;}
.main_section4 .main_flex3 li a .imgbx img{max-width: 100%; margin: 0 auto;}

/* main_section5 */
.main_section5 .main_section5_con{
    position: relative;
    text-align: center;
    background: linear-gradient(75deg, #817347 0%, #b2a167 10% 90%, #817347 100%);
    color: #fff;
    padding: 100px;
    margin-top: 60px;
}
.main_section5 .main_section5_con::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 86%;
    background: linear-gradient(75deg, #817347 0%, #b2a167 10% 90%, #817347 100%);
    z-index: 0;
}
.main_section5 .main_section5_con::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 76%;
    background: linear-gradient(75deg, #817347 0%, #b2a167 10% 90%, #817347 100%);
    z-index: 0;
}
.main_section5 .main_section5_con strong{position: relative; display: block; font-family: "Jost"; font-weight: bold; font-size: 46px; z-index: 1;}
.main_section5 .main_section5_con a{display: inline-block; color: #fff;}
.main_section5 .main_section5_con a strong{margin-top: 160px;}
.main_section5 .main_section5_con .info_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 60px auto 0;
}
.main_section5 .main_section5_con .info_list li{position: relative; width: 140px; height: 140px; border-radius: 50%; margin: 0 10px; transition: 0.4s; z-index: 1;}
.main_section5 .main_section5_con .info_list li a{display: block; width: 100%; height: 100%;}
.main_section5 .main_section5_con .info_list li a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);
    transition: 0.4s;
    opacity: 1;
}
.main_section5 .main_section5_con .info_list li:hover a::after{opacity: 0;}
.main_section5 .main_section5_con .info_list li img{width: 100%;}
.main_section5 .main_section5_con p{position: relative; z-index: 1;}
.main_section5 .main_section5_con .imgbx{position: relative; display: block; width: 50%; margin: 60px auto 0; z-index: 1;}
.main_section5 .main_section5_con .imgbx img{width: 100%;}

.main_section5 .main_flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;
    padding: 100px 0;
}
/* .main_section5 .main_flex li{width: 50%; height: -webkit-fill-available; border-left: 1px solid #000; padding: 0 60px;} */
.main_section5 .main_flex li{width: 64%; padding: 0 60px;}
/* .main_section5 .main_flex li:last-child{border-right: 1px solid #000;} */
.main_section5 .main_flex li a{display: block;}
.main_section5 .main_flex li a strong{font-size: 36px; font-weight: 500;}
.main_section5 .main_flex li a .imgbx{margin: 20px auto;}
.main_section5 .main_flex li a .imgbx img{max-width: 100%;}
.main_section5 .main_flex li a p{font-size: 18px;}

@media all and (max-width:1920px) {
    .main_section1 h2{font-size: 190px;}
    .main_section1 h2:nth-of-type(1){padding-right: 28%;}
    .main_section1 h2:nth-of-type(3){padding-right: 33%;}
    .main_section1 > a p{margin-left: 26%; width: 26%;}
    .accordion_list{height: 86vh;}
    .main_section2::before{
        bottom: 30px;
        right: 50px;
        width: calc(100% - 50px);
        height: 20px;
    }
    .main_section2::after{
        bottom: 50px;
        right: 50px;
        width: 50px;
        height: calc(100% - 50px);
    }
    .main_section2 .swiper-slide .slide1_txt{margin-top: 14%;}
    .main_section5 .main_section5_con .info_list{justify-content: space-between;}
    .main_section5 .main_section5_con .info_list li{margin: 0;}
    .main_section5 .main_section5_con::before{width: 76%;}
    .main_section5 .main_section5_con::after{width: 52%;}
    .main_section5 .main_section5_con .imgbx{width: 60%;}
}
@media all and (max-width:1760px){
    .main_section5 .main_section5_con .info_list{width: 80%;}
    .main_section5 .main_section5_con .info_list li{margin: 0 40px 40px;}
    .main_section5 .main_section5_con strong:nth-of-type(2){margin-top: 100px;}
}
@media all and (max-width:1600px){
    .main_section5 .main_section5_con .info_list{width: 100%; justify-content: center;}
}
@media all and (max-width:1450px){
    .main_section h3{font-size: 100px;}
    .main_section1 h2{font-size: 120px;}
    .main_section1 h2:nth-of-type(3){padding-right: 36%;}
    .accordion_list li{min-width: 150px;}
    .accordion_list li > p{font-size: 44px;}
    .main_section2 .swiper-slide .slide1_txt{margin-top: 10%;}
    .main_section2 .swiper-slide .imgbx{width: 64%;}
    .main_section3 .main3_txt{width: 16%;}
    .main_section3 .main_flex2 li{width: 40%;}
    .main_section4 .main_page_swp3{width: 90%;}
    .main_section4 .main_flex3{width: 94%;}
    .main_section5 .main_flex{width: 70%;}
}
@media all and (max-width:1089px) {
    .accordion_list{flex-direction: column; width: 60%;}
    .accordion_list li{width: 100%; padding: 0; padding-top: 10%;}
    .accordion_list li.on{width: 100%; padding-top: 100%;}
    .accordion_info{position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding: 40px;}
    .accordion_list li > p{top: 50%; left: 20px; transform: translate(0%, -50%) rotate(0deg); font-size: 36px;}
    .accordion_list li .accordion_info .accordion_txt p:first-child{font-size: 18px;}
    .accordion_list li .accordion_info .accordion_txt strong{font-size: 26px;}
    .accordion_list li .accordion_info .accordion_txt p:last-child{font-size: 22px;}
    .accordion_list li .accordion_info .accordion_txt2 strong{font-size: 18px;}
    .accordion_list li .accordion_info .accordion_txt2{font-size: 20px;}
    
    .main_section h3{font-size: 80px;}
    .main_section3 .main3_txt strong, .main_section3 .main_flex2 li a strong, .main_section4 .main4_txt strong, .main_section4 .main_flex3 li a strong, .main_section5 .main_flex li a strong{font-size: 34px;}
    p.s_tit{font-size: 22px;}
    
    .main_section1 > a p{margin: 40px 80px 40px auto;}
    .main_section1 h2:nth-of-type(1){padding-top: 40px;}
    .main_section1 h2:nth-of-type(2){padding-right: 0;}
    .main_section1 h2:nth-of-type(3){padding-right: 6%;}
    .main_section2::before{width: calc(100% - 30px); height: 12px; right: 30px;}
    .main_section2::after{width: 20px; height: calc(100% - 42px); right: 30px; bottom: 42px;}
    .main_section2 .swiper-slide .slide1_txt{width: 26%;}
    .main_section2 .swiper-slide .slide1_txt p{font-size: 22px;}
    .main_section2 .swiper-slide .slide1_txt p b{font-size: 18px; margin-bottom: 40px;}
    .main_section2 .swiper-slide .slide1_txt span{font-size: 16px;}
    .main_section3 .main3_txt{width: 30%;}
    .main_section3 .main3_txt b{font-size: 24px;}
    .main_section3 .main_page_swp2{width: 66%;}
    .main_section3 .main_flex2{width: 80%;}
    .main_section4 .main_flex{padding: 80px 30px 80px 60px;}
    .main_section4 .main4_txt b{font-size: 22px;}
    .main_section4 .main_page_swp3{width: 100%;}
    .main_section4 .main_flex2{padding: 80px;}
    .main_section4 .main_flex2 .main4_txt{width: 40%;}
    .main_section4 .main4_txt p{margin-top: 30px;}
    .main_section4 .main_flex2 .main4_txt p:first-of-type{font-size: 22px;}
    .main_section4 .main_flex2 .main4_txt p:last-child{font-size: 26px;}
    .main_section4 .video_wrap{width: 60%;}
    .main_section4 .main_flex3_wrap{padding: 60px 80px;}
    .main_section4 .main_flex3{width: 100%;}
    .main_section5 .main_section5_con{padding: 80px;}
    .main_section5 .main_section5_con .imgbx{width: 80%;}
    .main_section5 .main_flex{width: 80%; padding: 80px 0;}
}
@media all and (max-width:1024px){
    .main_section1 > a p{width: 50%;}
    .swiper-wrapper{flex-direction: row !important;}
    .main_section5 .main_section5_con .info_list{justify-content: space-between;}
    .main_section5 .main_section5_con .info_list li{margin: 0 10px 40px;}
}
@media all and (max-width:900px){
    .main_section1 h2{font-size: 100px;}
}
@media all and (max-width:860px){
    .main_section2 .swiper-slide .slide1_txt{width: 24%; margin-top: 5%;}
    .main_section2 .swiper-slide .slide1_txt p{font-size: 20px;}
    .main_section2 .swiper-slide .slide1_txt p b{font-size: 16px;}
    .main_section2 .swiper-slide .slide1_txt span{margin-bottom: 60px;}
    .main_section4 .main_flex3 li{width: 50%;}
    .main_section4 .main_flex3 li:first-child{margin-right: 30px;}
    .main_section4 .main_flex3 li:last-child{margin-left: 30px;}
}
@media all and (max-width:768px){
    .main_section h3{font-size: 60px;}
    .main_section1 h2:nth-of-type(1), .main_section1 h2:nth-of-type(3){margin-left: -6px;}
    .main_section1 > a p{width: 53%; margin-right: 40px;}
    .accordion_list{width: 74%;}
    .main_section2::before{width: calc(100% - 16px); height: 8px; right: 16px; bottom: 10px;}
    .main_section2::after{width: 14px; height: calc(100% - 18px); right: 16px; bottom: 18px;}
    .main_section2 .swiper-slide{height: -webkit-fill-available;}
    .main_section2 .swiper-slide .imgbx{width: 50%; margin-top: 8%;}
    .main_section2 .swiper-slide .slide1_txt{width: 38%; margin-top: 6%;}
    .main_section2 .swiper-slide .slide1_txt p{font-size: 18px;}
    .main_section2 .swiper-slide .slide1_txt p b{margin-bottom: 20px;}
    .main_section2 .swiper-slide .slide1_txt span{margin-bottom: 40px;}
    .main_section3 .main3_txt strong, .main_section3 .main_flex2 li a strong, .main_section4 .main4_txt strong, .main_section4 .main_flex3 li a strong, .main_section5 .main_flex li a strong{font-size: 32px;}
    .main_section3 .main3_txt p{margin-top: 20px;}
    .main_section3 .main3_txt b{font-size: 22px; margin-bottom: 14px;}
    .main_section3 .main_page_swp2{width: 63%;}
    .main_section3 .main_page_swp2 .slide2_txt strong{font-size: 20px;}
    .main_section3 .main_flex2{width: 90%;}
    .main_section3 .main_flex2 li{width: 44%;}
    .main_section3 .main_flex2 li:first-child{margin-right: 30px;}
    .main_section3 .main_flex2 li:last-child{margin: 100px 0 0 30px;}
    .main_section5 .main_section5_con .info_list li{width: 100px; height: 100px;}
    .main_section5 .main_section5_con strong:nth-of-type(2){margin-top: 60px;}
}
@media all and (max-width:690px){
    .main_section1 h2{font-size: 80px;}
}
@media all and (max-width:680px){
    .main_section1{height: auto;}
    .main_section1 h2:nth-of-type(2){margin-left: -5px;}
    .main_section1 > a p strong{font-size: 22px;}
    .main_section1 > a p{font-size: 16px;}
    .accordion_list{position: static; width: 90%; height: 100%;}
    .accordion_list li{padding-top: 12%;}
    .accordion_list li > p{font-size: 22px;}
    .accordion_list li > p .open_dot{width: 14px; height: 12px;}
    .accordion_list li .accordion_info .accordion_txt p:first-child, .accordion_list li .accordion_info .accordion_txt2 strong{font-size: 16px;}
    .accordion_list li .accordion_info .accordion_txt p:last-child{margin-top: 20px;}
    .accordion_list li .accordion_info .accordion_txt strong{font-size: 22px;}
    .accordion_list li .accordion_info .accordion_txt p:last-child{font-size: 16px; margin-top: 12px;}
    .accordion_list li .accordion_info .accordion_txt2{font-size: 16px;}
    .main_section2 .swiper-slide .slide_con{flex-direction: column;}
    .main_section2 .swiper-slide .imgbx{width: 90%;}
    .main_section2 .swiper-slide .slide1_txt{width: 70%; display: block; margin-left: auto; padding: 0 30px 30px 0;}
    .main_section2 .swiper-slide .slide1_txt span{margin: 20px 0 0;}
    .main_section3 .main_flex{flex-direction: column; background: linear-gradient(to bottom, #fff 0% 60%, #000 60% 100%); padding: 40px 0 100px 30px;}
    .main_section3 .main3_txt{width: 60%; margin-bottom: 40px;}
    .main_section3 .main_page_swp2{width: 100%;}
    .main_section4 .main_page_swp3 .swiper-slide{flex-direction: column;}
    .main_section4 .slide_con{width: 100%;}
    .main_section4 .main4_txt{width: 100%; margin-top: 40px;}
    .main_section4 .main_flex2{flex-direction: column; padding: 40px 80px;}
    .main_section4 .main_flex2 .main4_txt{width: 100%; margin-top: 0;}
    .main_section4 .video_wrap{width: 100%; margin-top: 40px;}
    .main_section4 .main_flex3{flex-direction: column;}
    .main_section4 .main_flex3 li{width: 100%;}
    .main_section4 .main_flex3 li:last-child{margin: 40px 0 0;}
    .main_section5 .main_section5_con{padding: 40px 80px;}
    .main_section5 .main_flex{width: 100%; flex-direction: column; padding: 40px 0;}
    .main_section5 .main_flex li{width: 100%; border-left: none;}
    .main_section5 .main_flex li:last-child{margin-top: 40px;padding-top: 40px; border-right: none; border-top: 1px solid #000;}
}
@media all and (max-width:560px){
    .main_section1 h2{font-size: 54px;}
}
@media all and (max-width:520px){
    .main_section h3{font-size: 46px;}
    p.s_tit{font-size: 20px;}
    .main_section3 .main3_txt strong, .main_section3 .main_flex2 li a strong, .main_section4 .main4_txt strong, .main_section4 .main_flex3 li a strong, .main_section5 .main_flex li a strong{font-size: 30px;}
    .main_section5 .main_section5_con strong{font-size: 30px;}
    .main_section1 > a p{width: 60%; margin: 20px 16px 20px auto;}
    .main_section1 > a p strong{font-size: 20px; margin-bottom: 10px;}
    .main_section3 .main_flex2{flex-direction: column;}
    .main_section3 .main_flex2 li{width: 100%;}
    .main_section3 .main_flex2 li:last-child{margin: 60px 0 0;}
    .main_section4 .main_flex{padding: 40px 30px;}
    .main_section4 .main_flex2{padding: 40px 30px;}
    .main_section4 .main_flex3_wrap{padding: 40px;}
    .main_section4 .main_flex3{padding: 40px;}
    .main_section5 .main_section5_con{padding: 40px 30px;}
    .main_section5 .main_section5_con .info_list{justify-content: center; margin-top: 24px;}
    .main_section5 .main_section5_con .info_list li{width: 80px; height: 80px;}
    .main_section5 .main_section5_con strong:nth-of-type(2){margin-top: 24px;}
    .accordion_list li.on{padding-top: 120%;}
}
@media all and (max-width:470px){
    .accordion_list li.on{padding-top: 140%;}
}
@media all and (max-width:410px){
    .accordion_list li{padding-top: 16%;}
    .accordion_list li.on{padding-top: 160%;}
    .accordion_info{padding: 30px;}
}
@media all and (max-width:370px){
    .main_section1 h2{font-size: 42px;}
    .main_section1 h2:nth-of-type(1), .main_section1 h2:nth-of-type(3){margin-left: -3px;}
}
@media all and (max-width:360px){
    .accordion_list li.on{padding-top: 170%;}
    .main_section4 .main_flex3{padding: 30px;}
}
@media all and (max-width:320px){
    .accordion_list li.on{padding-top: 180%;}
}